Repository Tiin24/C15-07-T-Node-React: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix

.lintstagedrc:

{
  "frontend/**/*": "node scripts/verifyScope.js frontend",
  "backend/**/*": "node scripts/verifyScope.js backend",
  "frontend/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"],
  "*.scss": "prettier --write"
}

37 frontend maquetar el layout del admin dashboard (#39)
  .github/workflows/deploy.yml
  frontend/index.html
  frontend/src/api/httpService.js
  frontend/src/assets/icons/index.js
  frontend/src/components/AppContent.jsx
  frontend/src/components/Header/Header-bottom.jsx
  frontend/src/components/Header/Header-top.jsx
  frontend/src/components/NavBar/NavBar.jsx
  frontend/src/components/PrivateRoute.jsx
  frontend/src/components/SideMenu.jsx
  frontend/src/pages/AdminDashboard/AdminDashboard.jsx
  frontend/src/pages/Amenities/Amenities.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Maintenance/Maintenance.jsx
  frontend/src/pages/Tenants/Tenants.jsx
  frontend/src/pages/index.js
  frontend/src/router/paths.js
  frontend/src/store/userStore.js
Due: node scripts/verifyScope.js frontend, prettier --write

feat(frontend): feat(frontend): Create User Modal (#41)
  frontend/src/components/AppContent.jsx
  frontend/src/components/SideMenu.jsx
  frontend/src/components/User/CreateUser.jsx
  frontend/src/store/userStore.js
Due: node scripts/verifyScope.js frontend

fix(frontend): import CreateUser
  frontend/src/components/AppContent.jsx
  frontend/src/components/SideMenu.jsx
  frontend/src/pages/AdminDashboard/Dashboard.jsx
Due: node scripts/verifyScope.js frontend

fix(frontend): close modal
  frontend/src/components/User/CreateUser.jsx
Due: node scripts/verifyScope.js frontend

fix: testing worklow
  .github/workflows/testing.yml
Due: none

fix: deploy to railway
  .github/workflows/deploy.yml
Due: none

feat(frontend): tabla dinamica (#42)
  frontend/src/components/AppContent.jsx
  frontend/src/components/Table/Table.jsx
  frontend/src/components/Table/TemplateTable.jsx
  frontend/src/pages/Amenities/Amenities.jsx
  frontend/src/pages/Maintenance/Maintenance.jsx
  frontend/src/pages/Payments/Payments.jsx
  frontend/src/pages/index.js
Due: node scripts/verifyScope.js frontend

feat(frontend): feat(frontend): formulario create user controlado (#44)
  frontend/src/components/User/CreateUser.jsx
  frontend/src/store/userStore.js
Due: node scripts/verifyScope.js frontend

feat(frontend): buscador de nombre en tablas (#46)
  frontend/src/components/Header/Header-bottom.jsx
  frontend/src/components/Table/Table.jsx
  frontend/src/pages/Amenities/Amenities.jsx
  frontend/src/pages/Maintenance/Maintenance.jsx
  frontend/src/pages/Payments/Payments.jsx
  frontend/src/pages/Tenants/Tenants.jsx
  frontend/src/store/useSearch.js
Due: node scripts/verifyScope.js frontend

15 backend crear modelos (#47)
  backend/src/app.js
  backend/src/maintenance/maintenance.controllers.js
  backend/src/maintenance/maintenance.router.js
  backend/src/maintenance/maintenance.services.js
  backend/src/models/maintenance.models.js
  backend/src/utils/database.js
Due: node scripts/verifyScope.js backend

23 backend crear modelo amenities (#50)
  backend/src/app.js
  backend/src/core/amenities/amenities.controller.js
  backend/src/core/amenities/amenities.router.js
  backend/src/core/amenities/amenities.services.js
  backend/src/core/maintenance/maintenance.controllers.js
  backend/src/core/maintenance/maintenance.router.js
  backend/src/core/maintenance/maintenance.services.js
  backend/src/core/users/users.router.js
  backend/src/core/users/users.services.js
  backend/src/models/amenities.model.js
  backend/src/models/initModels.js
  backend/src/models/users_amenities.model.js
Due: node scripts/verifyScope.js backend

23 backend crear modelo amenities (#51)
  backend/src/app.js
  backend/src/models/amenities.model.js
Due: node scripts/verifyScope.js backend

ci: :bug: rewrite workflow
  .github/workflows/deploy.yml
  .github/workflows/testing.yml
Due: none

ci: :beers: Update deploy workflow and package.json
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

ci(backend): added deploy script
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

feat(frontend): tabla solicitud de mantenimiento del dashboard (#49)
  frontend/src/components/DashboardComponents/TableMaintenance.jsx
  frontend/src/components/Header/Header-top.jsx
  frontend/src/components/Table/TemplateTable.jsx
  frontend/src/pages/AdminDashboard/Dashboard.jsx
  frontend/src/pages/Maintenance/Maintenance.jsx
  frontend/src/store/useSearch.js
Due: node scripts/verifyScope.js frontend

fix(backend): reorganizing folders so maintenance could be inside core (#53)
  backend/src/maintenance/maintenance.controllers.js
  backend/src/maintenance/maintenance.router.js
  backend/src/maintenance/maintenance.services.js
Due: node scripts/verifyScope.js backend

Merge develop into main (#60)
  .github/workflows/deploy.yml
  backend/src/app.js
  backend/src/config.js
  backend/src/utils/database.js
  frontend/src/components/AppContent.jsx
  frontend/src/components/DashboardComponents/TableTenants.jsx
  frontend/src/components/SideMenu.jsx
  frontend/src/pages/AdminDashboard/Dashboard.jsx
  frontend/src/router/paths.js
Due: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend

Merge develop into main (#61)
  backend/package.json
Due: node scripts/verifyScope.js backend, prettier --write

Update package.json
  package.json
Due: prettier --write
