Repository Tiin24/C15-07-T-Node-React: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/verifyScope.js frontend, node scripts/verifyScope.js backend, prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "packages/frontend/**/*": "node scripts/verifyScope.js frontend",
  "packages/backend/**/*": "node scripts/verifyScope.js backend",
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

chore: :wrench: husky verify commit message
  .husky/commit-msg
Due: none

docs: :memo: detailed project description
  README.md
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: :wrench: Issues and PR templates
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(backend): initialize backend project
  backend/package.json
Due: prettier --write

chore(frontend): initialize frontend project
  frontend/package.json
Due: prettier --write

chore: husky lint-staged and git rules
  .lintstagedrc
  .vscode/settings.json
  package-lock.json
  package.json
  scripts/verifyScope.js
Due: prettier --write, eslint --fix

chore(frontend): i vite
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
Due: prettier --write, eslint --fix

chore: install slint
  package-lock.json
  package.json
Due: prettier --write

chore: index
  frontend/index.html
Due: prettier --write, eslint

fix: .lint
  .lintstagedrc
Due: none

Update user_story.md
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

feat(frontend): install tailwind
  frontend/package.json
Due: prettier --write

7 frontend configurar tailwind css con daisy UI (#11)
  .vscode/extensions.json
  .vscode/settings.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/prettier.config.js
  frontend/src/index.css
  frontend/tailwind.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(frontend): add zustand (#14)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/store/userStore.js
Due: prettier --write, eslint --fix

4 frontend configurar el enrutamiento con react router dom (#12)
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/NavBar.jsx
  frontend/src/main.jsx
  frontend/src/pages/Contact.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/NotFound.jsx
  frontend/src/pages/Services.jsx
Due: prettier --write

revert(backend): "Addding express server" (#13)
  backend/.gitignore
  backend/README.md
  backend/example.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config.js
Due: prettier --write, eslint --fix

feat(frontend): mockup Login (#16)
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/pages/Login.jsx
Due: none

5 frontend configurar una instancia de axios (#17)
  frontend/package.json
  frontend/src/api/httpService.js
  package-lock.json
Due: prettier --write, eslint --fix

19 backend creacion y configuracion del modelo de usuario (#20)
  backend/package.json
  backend/src/app.js
  backend/src/auth/auth.controller.js
  backend/src/auth/auth.router.js
  backend/src/auth/auth.services.js
  backend/src/middlewares/auth.middleware.js
  backend/src/middlewares/rol.middleware.js
  backend/src/models/users.model.js
  backend/src/users/users.controllers.js
  backend/src/users/users.router.js
  backend/src/users/users.services.js
  backend/src/utils/crypto.js
  backend/src/utils/database.js
Due: prettier --write, eslint --fix

fix(frontend): delete package-lock.json
  frontend/package-lock.json
Due: prettier --write

fix(backend): delete package-lock.json
  backend/package-lock.json
Due: prettier --write

refactor(frontend): stylish login page with theme colors
  frontend/index.html
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/pages/Login.jsx
  frontend/tailwind.config.js
Due: prettier --write, eslint --fix, eslint

refactor: scripts to build frontend and launch backend
  package-lock.json
  package.json
Due: prettier --write

ci(frontend): :construction_worker: github action to prepare for testing
  .github/workflows/testing.yml
Due: none

chore: :pencil2: user story template
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

feat(frontend): se creo componente para controlar las rutas y sus componentes (#28)
  frontend/src/App.jsx
  frontend/src/components/AppContent.jsx
Due: none

24 frontend añadir los colores del theme elegido al login (#25)
  frontend/src/App.jsx
  frontend/src/pages/Contact/Contact.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/NotFound/NotFound.jsx
  frontend/src/pages/Services/Services.jsx
  frontend/src/pages/index.js
  frontend/tailwind.config.js
Due: prettier --write, eslint --fix

refactor(frontend): :truck: move navBar into a folder
  frontend/src/components/NavBar/NavBar.jsx
Due: none

fix(frontend): update NavBar path
  frontend/src/components/AppContent.jsx
Due: none

Update AppContent.jsx
  frontend/src/components/AppContent.jsx
Due: none

Tests unitarios (#29)
  .eslintrc
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/NavBar/NavBar.test.jsx
  frontend/src/pages/Login/Login.test.jsx
  frontend/tests/setup.js
  frontend/vite.config.js
  package.json
Due: prettier --write, eslint --fix

ci(testing): :ambulance: add install dependencies to workflow
  .github/workflows/testing.yml
  .vscode/settings.json
Due: prettier --write

feat(frontend): create side menu component (#31)
  frontend/src/assets/icons/Bell.svg
  frontend/src/assets/icons/ChartBar.svg
  frontend/src/assets/icons/ChartSquare.svg
  frontend/src/assets/icons/Drill.svg
  frontend/src/assets/icons/Folder.svg
  frontend/src/assets/icons/Home.svg
  frontend/src/assets/icons/Logout.svg
  frontend/src/assets/icons/More.svg
  frontend/src/assets/icons/Settings.svg
  frontend/src/assets/icons/User.svg
  frontend/src/assets/icons/Users.svg
  frontend/src/components/SideMenu.jsx
Due: none

feat(frontend): navBar template
  frontend/public/condominium.svg
  frontend/public/vite.svg
  frontend/src/App.jsx
  frontend/src/components/NavBar/NavBar.jsx
  frontend/src/index.css
  frontend/src/pages/NotFound/NotFound.jsx
Due: none

feat(frontend): added logo
  frontend/index.html
  frontend/src/pages/Login/Login.jsx
Due: prettier --write, eslint

feat(frontend): not found page
  frontend/src/assets/notfound.svg
  frontend/src/pages/NotFound/NotFound.jsx
Due: none

feat(frontend): header del administrador
  frontend/src/components/AppContent.jsx
  frontend/src/components/Header/Header-bottom.jsx
  frontend/src/components/Header/Header-top.jsx
  frontend/src/pages/Amenidades/Amenidades.jsx
  frontend/src/pages/Inquilinos/Inquilinos.jsx
  frontend/src/pages/Mantenimientos/Mantenimientos.jsx
  frontend/src/pages/index.js
Due: prettier --write, eslint --fix

34 frontend conexion con backend para el login (#36)
  frontend/src/api/httpService.js
  frontend/src/pages/Login/Login.jsx
  frontend/src/store/userStore.js
Due: prettier --write, eslint --fix

21 crear estructura (#40)
  backend/src/app.js
  backend/src/core/auth/auth.controller.js
  backend/src/core/auth/auth.router.js
  backend/src/core/auth/auth.services.js
  backend/src/core/users/users.controllers.js
  backend/src/core/users/users.router.js
  backend/src/core/users/users.services.js
  backend/src/middlewares/auth.middleware.js
Due: prettier --write, eslint --fix
